<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swiggy Test Suite - Smoke" verbose="4" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.swiggy.core.listeners.TestListener"/>
        <listener class-name="com.swiggy.core.listeners.ReporterListener"/>
        <!--<listener class-name="com.swiggy.core.listeners.RetryAnalyzerListener"/>-->
    </listeners>
    <parameter name="test.env" value="PROD"/>
    <parameter name="execution.local" value="true"/>
    <parameter name="remote.hub.url" value="NA"/>
    <parameter name="browser.name" value="CHROME"/>
    <parameter name="browser.headless" value="false"/>
    <parameter name="add.cookies" value="false"/>
    <parameter name="cookies" value="NA"/>
    <parameter name="publish.report" value="false"/>
    <test name="Swiggy Guest User - Tests" parallel="methods" thread-count="3">
        <classes>
            <class name="com.swiggy.GuestUserLocationTest">
                <methods>
                    <include name="validateRestaurantsCount"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->